@import "../../settings";

.card-item {
	background: $dark-accent;
	padding: $gap;
	border-radius: $card-border-radius;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	margin-bottom: $gap;

	h5 {
		cursor: pointer;
	}

	img {
		display: block;
		width: 100%;
		border: 2px solid $main-color;
		// width: calc(100% + #{$gap});
		// margin: -$gap 0 -$gap 0;
		border-radius: $col-border-radius;
	}
}
