@import "../../settings";

.card-item {
	background: $dark-accent;
	padding: $gap;
	border-radius: $card-border-radius;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

	&:not(:last-child) {
		margin-bottom: $gap;
	}

	img {
		display: block;
		width: calc(100% + #{$gap}/ 2 - 2px);
		// width: calc(100% + #{$gap});
		// margin: -$gap 0 -$gap 0;
		border-radius: $col-border-radius;
	}
}
