@import "../../settings";

.card-item {
	background: $dark-accent;
	border-radius: $card-border-radius;
	margin-bottom: $gap;

	.card-drag-handle {
		cursor: pointer;
		padding-left: $gap;
	}

	img {
		display: block;
		width: 100%;
		border: $gap solid $dark-accent;
		border-radius: $col-border-radius;
	}
}
