$main-color: #25595f;
$dark-accent: #123f42;
$dark-shade: #0a1f24;
$light-accent: #86bec0;
$light-shade: #f3f0f0;

$gap: 10px;
$col-header-height: 36px;
$col-footer-height: 36px;
$col-border-radius: 5px;
$card-border-radius: 3px;

// screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: "(max-width: 375px)";
