@import "./settings";

* {
	box-sizing: border-box;
	margin: 0;
	// text-align: center;
	font-family: sans-serif;
}

.trelloWorld {
	height: 100vh;
	display: grid;
	grid-template-rows: 40px 50px 1fr;
	line-height: 1.3em;
	background: $dark-shade;
}
