@import "../../settings";

.column {
	flex: 0 0 auto;
	width: 300px;
	height: calc(100vh - 40px - 50px - #{$gap});
	margin-right: $gap;

	> * {
		background: $main-color;
		color: $light-shade;
		padding: 0 8px;
	}

	header {
		cursor: pointer;
		padding-left: 15px;
		height: $col-header-height;
		line-height: $col-header-height;
		color: $light-accent;
		font-size: 16px;
		font-weight: bold;
		border-radius: $col-border-radius $col-border-radius 0 0;
	}

	footer {
		padding-right: $gap;
		text-align: center;
		font-weight: bold;
		height: $col-footer-height;
		line-height: $col-footer-height;
		border-radius: 0 0 $col-border-radius $col-border-radius;

		&:hover {
			background: $light-accent;
			transition: 1.5s ease-out;

			.icon {
				color: $light-shade;
				transition: 1.5s ease-out;
			}
		}

		.footer-action {
			width: 100%;
			cursor: pointer;
		}
	}

	.card-list {
		list-style: none;
		margin: 0;
		padding-bottom: $gap;
		max-height: calc(100% - #{$col-header-height} - #{$col-footer-height});
		overflow-y: auto;

		&::-webkit-scrollbar {
			-webkit-appearance: none;
		}

		&::-webkit-scrollbar:vertical {
			width: $gap;
		}

		&::-webkit-scrollbar-thumb {
			background-color: darken($color: $main-color, $amount: 15);
			border-right: 5px solid $main-color;
		}

		.card-ghost {
			transition: transform 0.18s ease;
			animation-name: wobble;
			animation-duration: 2s;
			animation-fill-mode: both;
			-webkit-animation-duration: 2s;
			-webkit-animation-fill-mode: both;
		}

		.card-ghost-drop {
			transition: transform 0.18s ease-in-out;
			transform: rotateZ(0deg);
		}

		.card-drop-preview {
			background-color: rgba(150, 150, 200, 0.1);
			border: 1px dashed $light-accent;
			border-radius: $card-border-radius;
			margin: 5px;
		}
	}
}

@keyframes wobble {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(-5deg);
	}
	30% {
		transform: rotate(4deg);
	}
	45% {
		transform: rotate(-3deg);
	}
	60% {
		transform: rotate(2deg);
	}
	75% {
		transform: rotate(-1deg);
	}
	100% {
		transform: (0%);
	}
}
@-webkit-keyframes wobble {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(-5deg);
	}
	30% {
		transform: rotate(4deg);
	}
	45% {
		transform: rotate(-3deg);
	}
	60% {
		transform: rotate(2deg);
	}
	75% {
		transform: rotate(-1deg);
	}
	100% {
		transform: (0%);
	}
}
